<!-- <ibm-modal (overlaySelected)="closeModal()">
    <div class="bx--modal-header">
      <ibm-modal-header (closeSelect)="closeModal()"><p class="bx--modal-header__heading bx--type-beta">header</p></ibm-modal-header>
    </div>
    <section class="bx--modal-content">
      <p>Sample modal works.</p>
      <ibm-dropdown placeholder="Select">
        <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
          </ibm-dropdown>
    </section>
    <ibm-modal-footer>
      <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="closeModal()">Close</button>
    </ibm-modal-footer>
  </ibm-modal> -->